.b-social
{
    padding-top:20px;
    margin-left:-20px;
    /* ... */
}

.b-social__tips {

color:#888890;
font-size:11px;
font-style:italic;
}

.b-social__link { padding:0 20px; background:url(../../i/b-social.png) no-repeat 0 0;}

.b-social__link_facebook {  }
.b-social__link_vkontakte { background-position:0 bottom;}
