.b-illustration__link {
    display: none;
    float: right;
   
    margin-top: 35px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.b-illustration_show_sladko .b-illustration__link_type_sladko
{
    display: block;
}.b-illustration_show_ozon .b-illustration__link_type_ozon
{
    display: block;
}.b-illustration_show_gallery .b-illustration__link_type_gallery
{
    display: block;
}.b-illustration_show_benergy .b-illustration__link_type_benergy
{
    display: block;
}.b-illustration_show_borjomi .b-illustration__link_type_borjomi
{
    display: block;
}.b-illustration_show_slpk .b-illustration__link_type_slpk
{
    display: block;
}


.b-illustration__logo
{
    display: block;
    margin: auto;
   
}