
    /* =TYPO
---------------------------------------------------------
		1. = BODY

		2. = CUSTOM FONT

		3. = LINKS

		4. = HEADINGS

		5. = TEXT

		6. = LISTS

		7. = TABLES

		8. = HORIZONTAL RULES
---------------------------------------------------------
HOW TO CALCULATE PROPER LINE HEIGHT IN EMS

child element pixels (your desired pixel value) / parent element pixels = child ems
---------------------------------------------------------
*/

/* =BODY
---------------------------------------------------------
*/

body {
    font-size: 62.5%;
    line-height: 1.8em;
    font-family: sans-serif;
}



img {
    border: 0;
}

/* =FONTS
---------------------------------------------------------
*/

/*@font-face {*/
    /*font-family: "univers";*/
    /*src: url(../fonts/univers.eot); *//* for IE */
    /*src: local("univers"), *//* for normal browser *//* url(../fonts/name.ttf) format('woff'), url(../fonts/univers.ttf) format('truetype'), url(../fonts/name.ttfw) format('svg');*/
/*}*/

/* =LINKS

---------------------------------------------------------

*/

:link,:visited {
    text-decoration: underline; color:#39f;
}

a:hover, :active {
    text-decoration: none;
}

/*dashed*/

a.dashed:link, a.dashed:visited {
    text-decoration: none;
    border-bottom: 1px dashed;
}

a.dashed:hover, a.dashed:active {
    text-decoration: none;
    border-bottom: 1px dashed;
}

/* =HEADINGS

---------------------------------------------------------

*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 { 

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/* =TEXT

---------------------------------------------------------

*/

p {

}

/* =LIST

---------------------------------------------------------

*/

ul {}

li {}

