html, body {
	height: 100%;
	width: 100%;
	min-height:100%;
	min-width: 1000px;
}
html {
	background: url(../../i/bg_pattern.png) repeat left top #ffeaef;
}
body {
	background:url(../../i/rose_l_t.png) no-repeat left top;
	overflow: visible;
}


/*
Grids
___________________________________________________

232 |18 | 232 |18 | 232 |18 |232     982px
g-gup 18px
g-grid__1  232
g-grid__2  482
g-grid__3  732


*/


.g-grid__1, .g-grid__2, .g-grid__3, .g-grid__4 {
      
    position: relative;
    float: left;
  



}


.g-gup {  margin-right: 18px;

}
.g-grid__1 {
    width: 232px;

}
.g-grid__2 {
    width: 482px;

}
.g-grid__3 {
    width: 732px;
    
}
.g-grid_4 {
    width: 982px;
    
}





