
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;

    padding:0;

    border:0;

    outline:0;

    font-size:100%;

    vertical-align:baseline;

    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

a {
    margin:0;

    padding:0;

    font-size:100%;

    vertical-align:baseline;

    background:transparent;

 
}

 ul
    {
      list-style: none;
    }


body {
    background: #fff url("../img/backgr_fon.png");
                font: 12px Arial, Helvetica, sans-serif;
                color:#333;
    
}


header, .content, footer {
    width:1000px;
    margin: 0 auto;
}

.lng_menu{
    float :right;
}
.lang {margin:20px 130px 0 0; }

.lng_menu ul li{ list-style-type: none;

    display: inline-block;
    margin: 0 6px 0 0;
}



.lng_menu ul li a {
    color: #666;}

.lng_menu  li a:hover
{
    text-decoration: none;
}

.lng_menu  li a:after
{
    content: " |";

}


.regfm {margin:5px 136px 0 0; }

.regfm a{
    color:#666;
    font: 18px italic Georgia,'Times New Roman', serif;}

.clearfix:after
{
 content: " ";

 clear:both;

 display: block;

 visibility: hidden;
}