.b-anketa
{

    position: relative;
    float: left;
    margin-right: -18px;
    padding-top: 6px;




    /* ... */
}


.b-anketa p {

    text-indent: 30px;

}


.b-anketa__item {

    float: left;
    width: 107px;
    margin-right: 18px;
    font:italic 12px/16px Georgia, serif;
    margin-bottom: 34px;
}
.b-anketa__userpic { z-index:1;
    margin-bottom: -2px;
    display: block;
  }


.b-anketa__links {}
