.b-nav
{


  
    /* ... */
}


.b-nav__list {  background:#fff;


}


.b-nav__item {
    display: -moz-inline-stack;
    display:inline-block;


}

.b-nav__link {
color:#33424b;
font:13px/50px Georgia, sans-serif;
text-transform:uppercase;
text-decoration:none;
padding-left:18px;
padding-right:10px;
display:block;




}

.b-nav__link-arrow {

background:url(../../i/b-nav__link-arrow.png) no-repeat left top;
}


.b-nav__item_state_current {

background:#498f4d;

}
.b-nav__item_state_current .b-nav__link {

color:#feffff;
}