.b-menu
{
    display: -moz-inline-box;
    display: inline-block;

    margin-right: 15px;

    vertical-align: bottom;
    white-space: nowrap;
}

.b-menu__item
{
    position: relative;

    display: -moz-inline-box;
    display: inline-block;

    border-right: 1px solid #1a3e66;
    border-left: 1px solid #6691c4;

    background: #2d5077;
    background-image: linear-gradient(bottom, #2D4F77 0%, #3A6493 100%);
    background-image: -o-linear-gradient(bottom, #2D4F77 0%, #3A6493 100%);
    background-image: -moz-linear-gradient(bottom, #2D4F77 0%, #3A6493 100%);
    background-image: -webkit-linear-gradient(bottom, #2D4F77 0%, #3A6493 100%);
    background-image: -ms-linear-gradient(bottom, #2D4F77 0%, #3A6493 100%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, #2D4F77),
    	color-stop(1, #3A6493)
    );
}

.b-menu__item_state_current
{
    background: #729cc4;

    text-shadow: 0 -1px 0 #37597c;
}

.b-menu__item:first-child
{
    border-left: 0;
}

.b-menu__item:last-child
{
    border-right: 0;
}

.b-menu__item:hover .b-menu__sublist
{
    display: block;
}
