.b-head-logo
{
    position:absolute;
 
	width:354px;
	height:97px;
	overflow:hidden;
    z-index: 99;
    text-align: center;
   
   
}

.b-head-logo__link {
 text-align:center;  width:auto;	
}

.b-head-logo__img {

margin-left:-70px;
float:left;
  
}