.b-menu__link {
    display: block;
    width: 110px;

    font:12px/30px Arial, sans-serif;
    color:#fff;
    text-decoration: none;
   text-align:center;

}


.b-menu__link:hover, .b-menu__item_state_current .b-menu__link:hover {
    text-decoration: none;

    color: #fff;
    background-image: url(b-menu__link.hover.png);
  

}



