.b-slides {

    position: relative;
    overflow: hidden;
   
    height: 342px;

    margin-right: 2px;
   display: inline-block; /*для оперы*/




}


.b-slides .b-slides__slider {
	  -moz-border-radius:18px;
   -webkit-border-radius:18px;
    -o-border-radius:18px;
     border-radius:18px;
	vertical-align: top;
}

/*Костыли для жоперы для скругления уголов у картинки*/
/*источник: http://www.xiper.net/collect/html-and-css-tricks/glyuki-brauzerov/opera/opera-img-radius.html*/
/**/
/*@media all, () { .b-slides:before {*/
	/*content: "";*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*position: absolute;*/
	/*left: 0;*/
	/*top: 0;*/
	/*border-radius: 28px;*/
	/*display:block;*/
	/*margin: -10px;*/
	/*border: 10px solid #fff;*/


/*}*/
/*}*/
/*закончились костыли для жоперы*/








.b-slides__lead {

    position: absolute;
    background:  url("../../i/red50.png") repeat  left top;
    height: 96px;
    width: 100%;
    top:40px;
    left:0;
    padding-top: 10px;
    
}

.b-slides__heading {


   font:italic 24px/36px Georgia, serif;
    color:#fff;
    padding-left: 30px;
    margin-bottom: 10px;





}

.b-slides__text {
    padding-left: 30px;
    
    font:12px/20px Arial, sans-serif; color:#fff;
}

.b-pagers {
    position: absolute; bottom:0;
    right: 25px;}
a.b-pagers__links {
    font:italic 24px/36px Georgia, serif;
    color:#fff;
    text-decoration: none;
    height: 40px;
    width: 18px;
    float: left;
    margin-right: 2px;
    text-align: center;

}
a.b-pagers__links:hover, a.b-pagers__links_active {
    background: #fff;
 color:#79502d;
border-top-left-radius:18px;
    border-top-right-radius:18px;


}