
.b-news__list-link {
    margin-bottom: 8px;

    
}


.b-news__list-link:link, .b-news__list-link:visited

{
    display: block;


  color: #333;
    /* ... */
}
.b-news__list-link:hover, .b-news__list-link:active {

    color:#05c; text-decoration: none

}




