.b-trainning
{ 
    /* ... */
}

.b-trainning__heading {
    font:italic 16px/20px Georgia, serif;
       margin-bottom: 0;
   text-indent:0;

}


.b-trainning__text_intend {

    text-indent: 30px;
}
