.b-menu__sublist {

    position: absolute;
    display: none;
    width: 100%;

}

.b-menu__sublist:hover {
    display: block;
}

.b-menu__sbulist-item .b-menu__link
{
    width: auto;
    padding-left: 26px;
    text-align: left;
}

.b-menu__item_state_current .b-menu__sublist {

    background: #6191ba;
}



.b-menu__item:hover .b-menu__sublist {
    display: block;

}



