.b-tags__item_state_checked{
	display:inline-block;
	
	-moz-margin-start:0;
	-webkit-margin-start:0;
	margin-start:0;
	
	cursor:pointer;
		
	padding:0 6px;
	margin:0 3px 9px 0;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.13);
	-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.13);
	-ms-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.13);
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.13);
	
	border:1px solid transparent;
	
	background:#e9eff5;
}
.b-tags__item_state_checked:hover,
.b-tags__item_state_checked:active{	
	background:#f26d7d;
	
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.13);
	-moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.13);
	-ms-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.13);
	box-shadow:inset 1px 1px 3px rgba(0,0,0,0.13);
}