.b-text_status_main {
	position:relative;
	display:inline-block;
	width:75%;
	padding:155px 17% 0 8%;
	white-space:normal;
	vertical-align:top;
}
	.b-text_status_main__head{
		font:18px/26px Georgia, serif;
		display:inline-block;
		margin-bottom:6px;
	}
	.b-text_status_main__head:link,
	.b-text_status_main__head:visited{
		text-decoration:underline;
	}
	.b-text_status_main__head-image{
		position:absolute;
		top:24px;
		right:40px;
	}
.b_text_status_top {
	padding:316px 17% 0 8%;
	width:175%;
}
.b-text_status_comment{
	width:100%;
	margin-top:21px;
}
.b-text_status_comment-first{
	margin-top:7px;
}
	.b-text_status_comment__content{
		font-family:Georgia, serif;
		font-style:italic;
		letter-spacing:-0.15ex;
		word-spacing:2px;
	}