.b-new-photo {

    position: relative;
    float: left;
    margin-right: -18px;
    padding-top: 6px;

   
}

.b-new-photo__pic
{
    float: left;
    margin-bottom: 18px;
   
 
   margin-right: 18px;
    
   


    /* ... */
}

.b-new-photo img { 
    display: block;}
.b-new-photo_gup {


   
  
}
