.b-news__list { 

    
    


    
}

.b-news__list-item {

   -moz-display: inline-block;
    display: inline-block;
    background: url("b-news__list_stroke.gif") no-repeat right top;
  
    vertical-align: top;
  
    padding-right: 30px;
    margin-right: 30px;
 width: 242px;


}.b-news__list-item:last-child {

    background: none;
    padding-right: 0;
    margin-right: 0;
}