.b-page__content{
	float:left;
	width:700px;
	overflow:hidden;
	background:#fff;
}
.b-page__content-wrap{
	width:240px;
	margin-bottom:16px;
	white-space:nowrap;
}
.b-page__content-wrap_wrap_captcha{
	padding:20px 20px 0;
}

