.b-decor__bg{
	display:inline-block;
	vertical-align:text-top;
	overflow:hidden;
	background-image:url(b-decor.png);
	background-repeat:no-repeat;	
}
.b-decor__bg_view_vkontakte{
	width:16px;
	height:16px;
	margin-right:6px;
	background-position:100% 0;
}
.b-decor__bg_view_facebook{
	width:14px;
	height:14px;
	margin-right:6px;
	background-position:100% -16px;
}
.b-decor__bg_view_comments{
	width:9px;
	height:8px;
	background-position:100% -30px;
}
.b-decor__bg_view_divide{
	display:block;
	width:19px;
	height:6px;
	background-position:100% -38px;
}
.b-decor__bg_view_author{
	width:36px;
	height:26px;
	background-position:100% -44px;
}
.b-decor__bg_view_recipes{
	width:18px;
	height:14px;
	background-position:100% -70px;
}


.b-decor__link{
	vertical-align:text-bottom;
	border-bottom:1px solid #424249;
}

