.b-page__foot {
   
    padding-bottom: 36px;
    border-top: 1px solid #d4d6d7;
}   


.b-page__foot-l {

    float: left;
     padding-top: 10px;

}



.b-page__foot-r {
    padding-top: 14px;

    float: right;

}