html, body {
	height: 100%;
	width: 100%;
	min-height:100%;
	min-width: 1000px;
}
html {
	background: url(../../i/bg.png) repeat left top #ffeaef;
}
body {
	background:url(../../i/rose_l_t.png) no-repeat left top;
	overflow: visible;
}
