.b-menu__sublist{
	position:absolute;
	left:0;
	top:49px;
	display:none; 
	white-space:nowrap;	
	width:100%;
	padding:0;
	margin:0;
}
.b-menu__item_has_submenu:hover .b-menu__sublist{
	display:table;
}