.b-search
{
    padding:17px 21px;
    padding-bottom:10px;
    background:#fff;
    margin-right:-20px;

    /* ... */
}
.b-search__input {

border:1px solid #e2e9ef;
    border-top:1px solid #aaadb2;
    line-height:26px;
    height:26px;
    .border-radius(2px);
    width:180px;
    padding:0 8px;
    margin-bottom:5px;
    
}

.b-search__link { font-size:11px; margin-right:6px;}

.b-search__link_state_current { background:#e9eff5 url(../../i/b-search__link_x.png) no-repeat 93% 6px ; padding:3px 6px; padding-right:14px; text-decoration:none;

.box-shadow(inset, 0,0, 1px, 1px rgba(0,0,0,.13));
.border-radius(10px)
}
