.b-lang {
	position:absolute;
	right:40px;
	top:18px;
	overflow:hidden;/* ... */
}
.b-lang__item {
	float:left;
	position:relative;
	border-left:1px solid #666;
	font:12px/14px Arial, Helvetica, sans-serif;
	margin-left:-1px;
}
.b-lang__link {
	padding:0 3px; text-align:center;
	font:12px/14px Arial, Helvetica, sans-serif; color:#666;
}


