.b-foot-items_type_separated .b-foot-items__item
{
    margin: 0;
}

.b-foot-items_type_separated .b-foot-items__item
{
    padding-left: 14px;
}

.b-foot-items_type_separated .b-foot-items__item_has_separator
{
    padding-right: 14px;

    border-right: 1px solid #345b86;
}