.b-foot-item {

    
}

.b-foot-items__item {

   -moz-display: inline-block;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;


    
}


.b-page__foot-l .b-foot-items__item { float: left;
    margin-right: 30px;

}

.b-page__foot-r .b-foot-items__item { float: left;
    margin-left: 14px;
    height: 12px;
    line-height: 12px;
    

}
.b-foot-items_type_separated .b-foot-items__item {
    border-right: 1px solid #345b86;
    padding-right: 14px;
}

.b-foot-items_type_separated .b-foot-items__item:last-child {
    border-right: none;
    padding-right: 0;
}