.b-news
{
    padding: 25px 0;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 1px 0 8px rgba(0,0,0,0.28) inset;
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0,0.28);
    box-shadow: 1px 0 8px rgba(0,0,0,0.28) inset;
}
