.b-boy
{
    /* ... */
}


.b-boy__bot {
    background: url("../../i/boy_bot.png") no-repeat left bottom;
    padding-bottom:200px;


}

.b-boy__top {

     background: url("../../i/boy_top.png") no-repeat center bottom;
    padding-bottom: 120px;

}
