.g-grid_1, .g-grid_2, .g-grid_3, .g-grid_4 {
display:inline-block;
vertical-align:top;


}
.g-gup {  padding-right:20px;

}

.g-grid_1 {
    
    
width:220px;

}


.g-grid_2 {

width:460px;
}


.g-grid_3 {

width:700px;

}

.g-grid_4 {
    width:940px;


}