.b-popup{
	position:absolute;
	left:50%;
	top:0;
	z-index:10;
	display:block;  
	
	
    width: 270px;
	margin-left: -167px;
    margin-top: 140px;
    padding:7px 5px;
	
	border-width: 26px 28px 28px 26px;
	-moz-border-image: url(b-popup.png) 26 28 28 26 repeat;
	-webkit-border-image: url(b-popup.png) 26 28 28 26 repeat;
	-o-border-image: url(b-popup.png) 26 28 28 26 repeat;
	border-image: url(b-popup.png) 26 28 28 26 repeat;
}
.no-borderimage .b-popup{
	margin-top:160px;
	outline: 20px solid #fff;
	-webkit-box-shadow: 1px 1px 15px 20px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 15px 20px rgba(0,0,0,0.3);
	-ms-box-shadow: 1px 1px 15px 20px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 15px 20px rgba(0,0,0,0.3);
	background:#fff;
}