 /* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #3399FF; }
a:hover { color: #036; }


.ib {display:-moz-inline-stack; display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/**
 * Primary styles

 */

 body {background: url(v1/img/bg.gif);}

.container {width: 1052px; margin: 0 auto;}



/**HEADER*/

header {width: 100%; background: url(v1/img/header_bg.png) left top no-repeat;}
header .other_nav{padding-top: 12px; height: 88px; margin-bottom: 4px; vertical-align: top;}
header .other_nav {background: url(v1/img/header_txt.png) left bottom no-repeat;}
header .lang{margin: 5px 0px 0px 260px; vertical-align: top;}
header .lang li{float: left; list-style-type: none; border-left: 1px solid #656565; padding: 0px 1px 0px;}
header .lang li:first-child {border-left: none;}
header .lang li a{font:10pt Arial;color: #656565;}
header .lang li a:hover, #header .lang li a.current{text-decoration: none;}


header a.logo {width: 350px; height: 99px;}
header form {font: 12pt Georgia; font-style:italic; color: #666; margin: 0px 20px 0px 395px;}
header form .search {border: none; background: none; font: 12pt Georgia; font-style:italic; color: #666; width: 90px;}
header a.login {font: 12pt Georgia; font-style:italic; color: #666;}

nav {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; background: #fff;height: 53px; margin-left: 231px;}
nav ul{padding-left: 8px;}
nav ul li{float: left; list-style-type: none;}
nav ul li a{height: 53px; font: 13pt Georgia; font-style:italic; color: #3399FF; padding: 0px 27px; position: absolute; margin-top: -13px;line-height: 53px;}
nav ul li a:hover {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; background: url(v1/img/nav_bg.jpg) repeat-x; color: #fff; padding: 0px 35px;}
nav ul li a.if:hover {margin-left: -8px;}
nav .an {margin-left: 228px;}
nav ul li a.an:hover {margin-left: 220px;}
nav .us{margin-left: 353px;}
nav ul li a.us:hover {margin-left: 345px;}
nav .fo{margin-left: 463px;}
nav ul li a.fo:hover {margin-left: 455px;}
nav .te{margin-left: 563px;}
nav ul li a.te:hover {margin-left: 555px;}
nav .po{margin-left: 670px;}
nav ul li a.po:hover {margin-left: 662px;}

#action {margin-top: 16px;}
#pics{width: 730px;}
#pics #element1{background: url(v1/img/pic1.jpg) no-repeat;width: 730px; height: 342px;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}

#action aside{color:#656565; font: 13pt Georgia; font-style:italic; vertical-align: top; padding: 30px 0px 130px 20px; width: 295px; background: url(v1/img/header_sb_bg.png) 70px bottom no-repeat;}
#action aside p {line-height: 30px;}
#action aside p span {font-size: 16pt;}
#action aside p a {color: #3399FF;}
#action aside p.tel{color: #FF3365;font-size: 24pt;margin: 10px 0px 15px 0px;line-height: 45px;}





/**MAIN*/
#main {padding-top: 20px;}

#main .txt h3, #main .pic h3{color: #656565;font: 19pt Georgia; font-style:italic; margin-bottom: 10px; font-weight: normal;}
#main .txt {width: 220px; vertical-align:top; padding-right: 30px;}
#main .pic {width: 250px; vertical-align:top;}


#main .txt dt a{font: 13pt Georgia; font-style:italic; line-height: 25px;width: 223px;}
#main .txt dd{text-indent: 30px; width: 223px; line-height: 18px;margin-bottom: 15px;}

#main .pic a img{text-decoration: none; display: block;}
#main .pic div{width: 108px; font: 9pt Georgia; font-style: italic; line-height: 18px; margin: 0px 15px 34px 0px;display:-moz-inline-stack; display:inline-block; _overflow:hidden; *zoom:1; *display:inline;}

#main .mbs div{margin-bottom: 15px;}

/*FOOTER*/
footer {background: url(v1/img/footer_rb_bg.png) right bottom no-repeat; height: 300px; margin-top: -85px; line-height: 20px; font-size:9pt;}
footer .container {background: url(v1/img/footer_lt_bg.png) left top no-repeat; padding-top: 200px;}
footer span.fr{padding-left: 51px;}
footer ul {list-style-type: none;}
.vcard {margin-right: 80px;}
footer .nav {vertical-align: bottom; margin-right: 50px;}
footer .lang {margin-right:200px;}



/*TEST*/

#slide_controls {
position: absolute;
z-index: 1;
width: 700px; 
text-align: right;
bottom: -30px;
}

#slide_controls span {
	cursor:pointer;
	font-family: Georgia; font-style: Italic;
	color: #fff;
	font-size: 26px;
display:-moz-inline-stack; display:inline-block; _overflow:hidden; *zoom:1; *display:inline;
width: 20px;
text-align: center;
line-height: 22px;
padding-bottom: 13px;
margin-left: 2px;
}

#slide_controls span.selected{
	color: #333;
	background: #fff;
	-webkit-border-radius: 10px 10px 0px 0px;-moz-border-radius: 10px 10px 0px 0px;border-radius: 10px 10px 0px 0px;
}

#slide_container {
	width:729px;
	height:342px;
	overflow:hidden;
	position:relative;
	z-index: 0;
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
}
#slide_images {
	position:absolute;
	left:0px;
	width:730px;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;	
	transition:all 1.0s ease-in-out;
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
}
#slide_images img {
	padding:0;
	margin:0;
	float:left;
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
}

#slide_images figcaption {

}


 