 /* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #3399FF; }
a:hover { color: #036; }


.ib {display:-moz-inline-stack; display:inline-block; _overflow:hidden;
*zoom:1; *display:inline;}

/**
 * Primary styles

 */

 body {background: url(v1/img/bg.gif) repeat;}

.container {width: 1052px; margin: 0 auto;}



/**HEADER*/

header {width: 100%; background: url(v1/img/header_bg.png) left top no-repeat;}
header .other_nav{padding-top: 12px; height: 98px; margin-bottom: 4px;}
header .other_nav {background: url(v1/img/header_txt.png) center bottom no-repeat;}
header .lang{margin: 0px 120px 0px 0px; padding-top: 5px; vertical-align: top; float: right;}
header .lang li{float: left; list-style-type: none; border-left: 1px solid #656565; padding: 0px 1px 0px;}
header .lang li:first-child {border-left: none;}
header .lang li a{font-family:Arial; font-size: 13px;color: #656565;}
header .lang li a:hover, #header .lang li a.current{text-decoration: none;}


nav {text-align: right;}
nav ul{-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; background: #fff;}
nav ul li{float: left; list-style-type: none;}
nav ul li a{display:-moz-inline-stack; display:inline-block; _overflow:hidden;*zoom:1; *display:inline; height: 53px; font-size: 18px; line-height: 53px; font-family: Georgia; font-style: italic; color: #3399FF; padding: 0px 27px;}
nav ul li a:hover, nav ul li a.current{-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; background: url(v1/img/nav_bg.jpg) repeat-x; color: #fff; padding: 0px 27px;}

#scroll {margin-top: 16px;}
#pics{width: 730px;}
#pics #element1{background: url(v1/img/pic1.jpg) no-repeat;width: 730px; height: 342px;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;}

#scroll .sidebar{color:#656565; font-family: Georgia; font-style: Italic; vertical-align: top; padding-left: 20px;width: 295px; padding-top: 30px; font-size: 18px; background: url(v1/img/header_sb_bg.png) 70px bottom no-repeat; padding-bottom: 130px;}
#scroll .sidebar p {line-height: 30px;}
#scroll .sidebar p span {font-size: 24px;}
#scroll .sidebar p a {color: #3399FF;}
#scroll .sidebar p.tel{color: #FF3365;font-size: 33px;margin: 10px 0px 15px 0px;line-height: 45px;}


/**MAIN*/
#main {padding-top: 20px;}
#main .col_main {width: 248px; vertical-align:top; }
#main .col_main p.title{font-size: 24px; color: #656565;font-family: Georgia; font-style: Italic; margin-bottom: 10px;}

#main .col_main .item a.next{font-family: Georgia; font-style: Italic; font-size: 17px; line-height: 25px;width: 223px;}
#main .col_main .item p{font-family: Arial; text-indent: 30px; width: 223px; line-height: 18px;}
#main .col_main .item {margin-bottom: 15px;}

#main .col_main .pic_item{vertical-align: top; margin-bottom: 35px;}
#main .col_main .pic_item img{margin-right: 15px;}
#main .col_main .pic_item img.mrn{margin-right: 0px;}
#main .col_main .pic_item p{width: 108px; font-family: Georgia; font-style: italic; font-size: 12px;}

footer {background: url(v1/img/footer_bg.png) right bottom no-repeat; height: 218px;}


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
 