.b-footer
{
    margin-top: 150px;
    padding: 24px 0 70px;

    position: relative;

    border-top: 1px #dce0df solid;

    font-size: 11px;
}
.b-footer span, .b-footer a {
    margin-right: 25px;
}
