.b-search { position: absolute; top:40px;
    right: 100px;
    background: url("../../i/b-search.png") no-repeat left 3px;
    padding-left: 8px;
}

.b-search__input {
    width:108px;
    height: 20px;
    font:italic 18px/20px Georgia, serif; color:#666;
    background: transparent;
    border:none;
    
    


}