@CHARSET "UTF-8";
body{
	font:13px/1.5 Arial, sans-serif;
	
	color:#333;
	background:#fff;
}

:link{
	text-decoration:none;
	
	color:#05c;
}
:visited{
	color:#00f;
}
li:hover{
	text-decoration:underline;
}