.b-form__input:focus+.b-form_state_toggle__submit{
	display:inline-block;
} 
.b-form_state_toggle__submit{
	display:none;
	margin-left: 6px;
	padding: 1px 5px;
	text-align: center;
	vertical-align: middle;
}