

body{
    background: url(../img/background.png) repeat;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop, src='img/background.png');



}


.header .roseup{
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop, src='img/roseup.png');
}

footer .rosedown{
    background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop, src='img/rosedown.png');
}