

body{
    dbackground: url(../img/background.png) repeat;
    dfilter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop, src='img/background.png');
    background:none;


}


.header .roseup{
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop, src='img/roseup.png');
}

footer .rosedown{
    background: none;
        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop, src='img/rosedown.png');
}

