.header .logo .norm{
    color:rgb(255,51,102);
    margin-right: 10px;
}

.middle,
.middle .gallery{
    position:relative;
     overflow:hidden;


}
.middle .gallery{


}

.middle .gallery li{



}

.middle .wrapper{
    border: 1px solid blue;
    float:left;
    overflow:hidden;
}

.middle .c1{
    z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '<img src="img/amourr.png">'));
}


.content .column:first-child{
    z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', '<img src="img/amourl.png">'));

}
.middle .c1 {
    border: 1px solid green;
}



.content .column .ulj li{
    zoom:0;
}
.content .column .ulj .iewrapper{
    width:50%;
    display:inline;
    zoom:1;
}
